{% extends 'model.html' %}

{% block pagetitle %}Home{% endblock %}

{% block aboutpage %}Just a common home page.{% endblock %}

{% block stitle %}What Cat Am I? 😺{% endblock %}

{% block content %}
<form action="/" method="post" class="max-w-sm mx-auto flex flex-col gap-3">
    
    <div class="">
    
        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Your Name:</label>
    
        <input type="text" value="{% if input %}{{ input }}{% endif %}" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Insert your name" required />
    
    </div>
        
    <div class="w-auto flex justify-end">
        <button type="submit" data-ripple-dark="true" class="bg-blue-600 rounded-lg text-white font-medium px-2 py-1 transition duration-300 hover:bg-transparent border-blue-600 border-2 hover:text-blue-600 w-full">Discover My Cat</button>
    </div>

    {% if msg %}

    <p class="w-full text-red-600 font-medium">{{ msg }}</p>

    {% endif %}

</form>

{% if catURL %}

<div class="max-w-200 overflow-hidden h-fit border-1 border-gray-300 rounded-4xl my-12 mx-auto"><img src="{{ catURL }}" class="w-full" alt=""></div>

{% endif %}

<hr class="border-gray-400 my-6 h-px">

{% endblock %}
